/* Estilos generales*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2B2A2A;
    color: white;
}


/* Menú de navegación */
nav {
    background-color: black;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin: 0;
}

nav .logo img {
    width: 40px;
    height: auto;
    display: block;2
}

nav .menu {
    display: flex;
    align-items: center;
}

nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 45px;
}


/* Cabecera */
header {
    background-image: url("../imagenes/fondo.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 70px 10%;
}

.calculadora {
    background-image: url("../imagenes/fondo2.png");
}

.contacto {
    background-image: url("../imagenes/fondo3.png");
}


header h1 {
    font-size: 65px;
    margin: 0;
}


/* Pie de página */
footer {
    background-color: black;
    color: white;
    padding: 60px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 10px;
}

footer .copyright {
    font-size: 15px;
}


/* Inicio*/
main {
    width: 80%;
    margin: auto;
}

.inicio-presentación {
    text-align: center;
    padding: 80px 0;
    border-bottom: none;
}

.inicio-presentación .presentacion {
    color: #76CAA5;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 25px 0;
}

.inicio-presentación h2 {
    color: white;
    font-size: 55px;
    margin: 0;
}

.inicio-presentación .descripcion {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    max-width: 900px;
    margin: 30px auto;
}

.botones {
    margin-top: 40px;
}

.botones a {
    display: inline-block;
    background-color: #76CAA5;
    color: black;
    text-decoration: none;
    padding: 18px 30px;
    margin: 10px;
    font-weight: bold;
    border-radius: 20px;
}

/* Calculadora - contenido */
.calculadora-contenido {
    padding: 70px 0;
}


/* Bloques de la calculadora */
.bloque-calculadora {
    padding: 35px 0;
    border-bottom: 1px solid #555555;
}

.bloque-calculadora h2 {
    color: white;
    font-size: 25px;
    margin: 0 0 25px 0;
}


/* Campo de información */
.bloque-calculadora .big {
    color: #76CAA5;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}


/* Entrada de la calculadora */
.entrada-calculadora {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.entrada-calculadora input {
    background-color: #353535;
    color: white;
    border: 1px solid #555555;
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 15px;
    font-size: 20px;
}


/* Botones de la calculadora */
.botones-calculadora {
    display: flex;
    gap: 15px;
}

.botones-calculadora button {
    background-color: #353535;
    color: white;
    border: 1px solid #555555;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: bold;
}

/* Extra: Información de la operación */
#operacion-info {
    color: #b8b8b8;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

/* Calculadora - Comportamiento */
@media (max-width: 800px) {

    .botones-calculadora {
        display: block;
    }

    .botones-calculadora button {
        margin-bottom: 10px;
    }

    .entrada-calculadora input {
        margin-top: 15px;
    }
}

/* Contacto - contenido */
.contacto-contenido {
    padding: 70px 0;
}

.ayuda-contacto {
    text-align: center;
}

.titulo-pequeno-contacto {
    color: #76CAA5;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.ayuda-contacto h2 {
    color: white;
    font-size: 50px;
    margin: 0 0 60px 0;
}


/* Tarjetas */
.tarjetas-contacto {
    display: flex;
    gap: 30px;
    text-align: left;
    justify-content: center;
}

.tarjeta-contacto {
    width: 33.33%;
    background-color: #353535;
    border: 1px solid #555555;
    border-radius: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.tarjeta-contacto h3 {
    color: white;
    font-size: 25px;
    margin: 0 0 25px 0;
}

.tarjeta-contacto p {
    color: #b8b8b8;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px 0;
}

.tarjeta-contacto a {
    color: #76CAA5;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: auto;
}


/* Datos de contacto */
.datos-contacto {
    margin-top: 45px;
    color: #b8b8b8;
    font-size: 17px;
}


/* Contacto - Comportamiento */
@media (max-width: 800px) { /* Quiero que cuando reduzca la pestaña las tarjetas se coloque */
    .ayuda-contacto h2 {
        font-size: 36px;
    }

    .tarjetas-contacto {
        display: block;
    }

    .tarjeta-contacto {
        width: auto;
        margin-bottom: 25px;
    }
}